/*
!/.gitignore
!/Info.json
!/LICENSE
!/Localization.cs
!/Main.cs
!/README.md
!/Repository.json
!/SummonsTransitionFix.csproj
!/settings.cs

!/.github/
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/nexus-upload.yml

!/Localization/
/Localization/*
!/Localization/enGB.json
!/Localization/frFR.json
