[Bb]in/
[Oo]bj/
Staging/
**/Staging/

references_game/
**/references_game/
*.dll
*.pdb
*.exe

GamePath.props

*.bak
*-[0-9].json.bak
*-[0-9].cs.bak
*.pyc
__pycache__/

.vscode/
.idea/
*.user
*.suo
*.userprefs
*.workspace
.DS_Store
Thumbs.db

Obfuscated/
**/Obfuscated/

*.md
*.MD
!README.md

GamePath.props
